<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jmarkstar.mfc">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application>

        <provider
            android:name="com.jmarkstar.mfc.util.MfcFileProvider"
            android:authorities="${applicationId}.mfc.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:screenOrientation="portrait"
            android:name=".MfcDialog"
            android:theme="@style/Theme.Transparent" />

        <activity android:screenOrientation="portrait"
            android:name=".module.gallery.GalleryActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:screenOrientation="portrait"
            android:name=".module.gallery.GalleryItemActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>